.header_container{
    width: 100vw;
    height:60px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #ffb1b1;
}

.utility_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

